@import url(/assets/css/variable.css);
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.body-bg-color {
    background-color: var(--body);
    font-family: 'Lora', serif;
}

.navbar-bg-color {
    background-color: var(--navbar);
}

.page-title {
    background-color: var(--title);
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bg-color {
    background-color: var(--footer);
}

.gunun-yazisi-shadow {
    box-shadow: 1px 1px 10px aqua;
}

.navbar-font-size {
    font-size: large;
}

.bg-image {
    background-image: url(/assets/images/manzaralar/suleymaniye-cami.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

.home-navbar-style li a {
    color: white;
}

.home-navbar-style li a:hover {
    color: rgb(71, 179, 179);
}

.hosgeldiniz-position {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yazi-style {
    width: auto;
    padding: 20px 30px;
    text-align: justify;
    font-size: 20px;
}

.haberler-yazi {
    width: auto;
    padding: 20px 70px;
    text-align: justify;
    font-size: 20px;
}

.kitaplar-style {
    width: auto;
    padding: 20px 30px;
    text-align: justify;
    font-size: 15px;
}

.icon-size {
    font-size: x-large;
}

.icon-size i:hover {
    color: rgb(27, 107, 107);
}

.icon-style {
    color: black;
}

.hakkimda-img img {
    object-fit: cover;
}

/* kitaplarım card start */
.kitap-card {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 40px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 1000ms all;
    transition: 1000ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;

}

.kitap-card__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.kitap-card:hover {
    transform: scale(1.08)
}

/* kitaplarım card end */

/* fotograflar start */
.detay-carousel {
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.carousel__container {

    padding-bottom: 10px;
    display: inline-block;
}

.categories__title {
    color: rgb(77, 55, 102);
    font-size: 28px;
    position: absolute;
    padding-left: 30px;
    margin-top: -20px;
}

.carousel-item-detay {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #95bcd6;
    overflow: hidden;
    margin-top: 40px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: 1000ms all;
    transition: 1000ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    position: relative;
}

.carousel-item-detay:hover~.carousel-item-detay {
    -webkit-transform: translate3d(100px, 0, 0);
    transform: translate3d(100px, 0, 0);
    /* -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0); */
}

.carousel__container:hover .carousel-item-detay {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item-detay:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    /* -webkit-transform: scale(1.1);
    transform: scale(1.1); */
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    -o-object-fit: cover;
    object-fit: cover;
}

.carousel-item__details {
    background: -webkit-gradient(linear,
            left bottom,
            left top,
            from(rgba(0, 0, 0, 0.9)),
            to(rgba(0, 0, 0, 0)));
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details span {
    font-size: 0.9rem;
    color: #2ecc71;
}

.carousel-item__details .controls {
    padding-top: 180px;
}

.carousel-item__details .carousel-item__details--title,
.carousel-item__details--subtitle {
    color: #fff;
    margin: 5px 0;
}

/* fotograflar end */

/* basın card start */
.basin-post {
    display: flex;
    align-items: center;
    max-width: 100rem;
    background-color: #fff;
    padding: 2.5rem;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.8rem;
}

.basin-post-img {
    position: relative;
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
}

.basin-post-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
}

.basin-post-img::before {
    /* content: ""; */
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    box-shadow: 0.5rem 0.5rem 3rem 1px rgba(0, 0, 0, 0.05);
    border-radius: 0.8rem;
    opacity: 0.5;
}

.basin-post-date span {
    display: block;
    color: #8e8c8c;
    font-weight: 600;
    margin: 0.5rem 0;
}

.basin-post-title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #4facfe;
}

.basin-post-info p {
    margin-bottom: 3rem;
    color: rgba(0, 0, 0, 0.7);
}

.basin-post-cta {
    display: inline-block;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0.8rem;
    text-decoration: none;
}

.basin-post-cta:hover {
    background-image: linear-gradient(to right, #00f2fe 0%, #4facfe 100%);
}

@media (max-width:1068px) {
    .basin-post {
        max-width: 80rem;
    }

    .basin-post-img {
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media (max-width:868px) {
    .basin-post {
        max-width: 70rem;
    }
}

@media (max-width:768px) {
    .basin-post {
        padding: 2.5rem;
        flex-direction: column;
    }

    .basin-post-img {
        min-width: 100%;
        transform: translate(0, -8rem);
    }
}

/* basın card end */

/* basın haberler sidebar start */
#sidebar {
    min-width: 270px;
    max-width: 270px;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: relative;
    z-index: 0;
    border-left: 1px solid rgba(0, 0, 0, .05);
}

.tagcloud-title {
    line-height: 1.5;
    font-weight: 400;
    color: #000;
}

.tagcloud a {
    text-transform: uppercase;
    display: inline-block;
    padding: 4px 10px;
    margin-bottom: 7px;
    margin-right: 4px;
    border-radius: 4px;
    color: #000;
    border: 1px solid #ccc;
    font-size: 11px;
    transition: .3s all ease;
    text-decoration: none;
    background-color: transparent;
}

.tagcloud a:hover {
    color: #000;
    background-color: #ccc;
}

/* basın haberler sidebar end */

/* videolarım card start */
.videlar-youtube-icon {
    color: rgb(255, 0, 0);
}

.videlar-youtube-icon:hover {
    color: #a60101;
}

/* videoalarım card end */